
<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @message.number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<%= link_to 'Back', messages_path %>
